h1 {
    color: aqua;
    background-color: black;
    width: 150px;
    height: 50px;
    font-weight: bolder;
}
h2 {
    color: aquamarine;
    background-color: black;
    width: 100px;
    height:50px;
    border-radius: 30%;

} 
table{
     color: blue;
}
body {
    background-color:azure;
}
.span{
    color:blueviolet; 
}
#para {
    color:brown;
    background-color: darkgray;
    height: 100px;
    width: 100px;
    font-weight: bolder;
} 
body {
    background: whitesmoke;
}
.newlay div{
background: red;
height:200px;
border:2px solid black;
margin:10px;
flex-basis: 200px;
}
.newlay{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.first {
    flex-shrink:0;   
}
.second{
    flex-shrink: 0;
}
.parent{
    display: flex;
    background:rgb(11, 238, 98);
    width:100vw;
    height:50vh;
    justify-content: center;
    align-items: center;
}
.child{
    background: yellow;
    width:200px;
    height: 200px;
}
